# 项目构建相关的文件
build/


# vscode相关的配置文件
.vscode/

# 程序测试图片
scene1_jiading_lib_test_undist/
scene1_jiading_lib_undist/

# git cz相关工具包
package.json
CHANGELOG.md
node_modules/
package-lock.json

# 文件夹
teamwork/

# 用不到的程序
testSIFT.py

# 